extends board-layout

block content
  div(class='container-fluid')
    div(class='row heading-row')
      each val, key in issues
        div(class='col-md-3 board-columns' id='#{key}-column')
          div(class='panel panel-default')
            div(class='panel-heading') #{key}
            div(class='panel-body')
        
