extends master-layout

block content
  div(class='container')
    div(class='row row-centered')
      div(class='col-md-6 col-centered' id='pusher-logo') Kanban
      
    div(class='row row-centered')
      div(class='col-md-6 col-centered')
        p Looks like you're not logged in. 
        p Sign in using Github
        br
        br
        a(class='btn btn-default btn-lg' id='login-button' href='#{authUrl}')
          i(class='fa fa-github fa-lg')
          | &nbsp;Login
        
