doctype html
html
  head
    title= 'Kanban'
    link(rel='icon' type="image/png" href='/images/pusher-favicon.png')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/min/style.css')
  body
    block content
    
    
