extends master-layout

block content
  div(class='container')
    div(class='row row-centered')
      div(class='col-md-6 col-centered' id='pusher-logo')
        img(src='https://pusher.com/prom/images/new_landing_page/pusher-logo.png')
        |&nbsp;Kanban
        
    div(class='row row-centered')
      div(class='col-md-6 col-centered')
        form(class='form-inline' action='/repos/search' method='GET')
          div(class='form-group')
            input(type='text' name='repo' class='form-control' id='repo-search-box' placeholder='Search for repositories')
          button(type='submit' class='btn btn-primary' id='repo-search-button') Search
          
    if repoNames
      div(class='row row-centered')
        div(class='col-md-4 col-centered' id='repo-results')
            each repo in repoNames
              a(href='/board/#{repo}')
                div(class='panel panel-default repo-result-panel')
                  div(class='panel-body')
                    |#{repo}
  
  
