body {
  padding-top: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #41A9BD;
  color: white;
}

a {
  color: inherit;
}

.row-centered {
    text-align:center;
    margin-bottom: 50px;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
}

#repo-search-box {
  width: 300px;
}

#repo-search-button {
  background-color: #eb0752;
}

#pusher-logo {
  text-align: center;
}

.repo-result-panel {
  background-color: transparent;
  border-color:white;
  margin-top: 20px
}

#repo-results {
  max-height: 300px;
  overflow: scroll;
}

.board-columns {
  width: 20%;
  float: left;
  height: 100%;
  text-align: center;
  padding-left:3px;
  padding-right:3px;
}

.issue-list-group {
  color: black;
}

.issue-list-item {
  min-height: 70px;
  margin: 10px;
  border-radius: 5px;
  font-size: 12px;
  text-align: left;
  overflow: hidden;
}

.board-panel-body {
  padding: 0px;
  background-color: #E2E4E6;
}

.issue-text {
  height: 100%;
  padding-left: 0px;
}

.issue-assignee {
  height: 100%;
  padding-right: 0px;
}

.board-panel-heading {
  border-color: #E2E4E6;
  background-color: #E2E4E6;
  text-align: left;
  font-weight: bold;
}

.panel-default > .panel-heading {
  border-color: #E2E4E6;
  background-color: #E2E4E6;
}

.avatar {
  border: 1px solid;
  border-color: silver;
}

.sortable-ghost {
  opacity: 0;
  background: inherit;
}
