@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400);

body {
  padding: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #41A9BD;
  color: white;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.row-centered {
    text-align:center;
    margin-bottom: 50px;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
}

#repo-search-box {
  width: 300px;
}

#repo-search-button,#login-button {
  background-color: transparent;
  border-color: white;
  color: white;
}

#pusher-logo {
  text-align: center;
}

.repo-result-panel {
  background-color: transparent;
  border-color:white;
  margin-top: 20px
}

#repo-results {
  max-height: 300px;
  overflow: scroll;
}
